<div class="container" id="pageContent">
    <div class="row" *ngIf="!shared.isPOIsLoading">
        <div *ngFor="let p of shared.pOIs" class="col-md-4 col-sm-6 col-lg-3 m-b-50">
            <div class="photo-item" [ngStyle]="{'background-image': 'url(https://kc.kobotoolbox.org/attachment/original?media_file=' + p.image0 + ')'}">
                <div class="label-icon" [ngClass]="{'lanai-place':p.modelType=='POI',
                                                                'lanai-hike':p.modelType=='HIKE',
                                                                'lanai-car':p.modelType=='TOUR' }"></div>
                <div class="card col-lg-12 no-padding">
                    <div class="top-info">
                        <div class="col-sm-4 text-center"><i class="fa fa-camera"></i> <span class="counter">{{shared.countNumberMediaOfPOI(p,'image')}}</span></div>
                        <div class="col-sm-4 text-center"><i class="fa fa-video-camera"></i> <span class="counter">{{shared.countNumberMediaOfPOI(p,'video')}}</span></div>
                        <div class="col-sm-4 text-center"><i class="fa fa-volume-up"></i> <span class="counter">{{shared.countNumberMediaOfPOI(p,'audio')}}</span></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="description">
                            <div class="title">{{p.name}}</div>
                            {{p.description}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row content-center" *ngIf="shared.isPOIsLoading">
        <loading></loading>
    </div>
    <div id="loadMore" class="content-center" *ngIf="!shared.isPOIsLoading">
        <button (click)="loadMore()" class="button">Load more </button>
    </div>
</div>
